.cred
  p Put one youtube, soundcloud, etc. link here rappa!
  p  
    a(href="/account") Click here 
    | to add your link
  p.text-muted.small When people see your page, they'll see your link. If they click it a lot you get rich or something
