.ratingWidget
  .upvote(id=theBar.id)
    if user
      a.upvote
    else
      a.upvote(href="#" data-toggle="tooltip" data-placement="top" title="Login first homie")
    span.count #{theBar.vote.positive.length}
    include ../partials/judgementScript
