.ratingWidget
  .upvote(id=theBar.id)
    if user
      a.upvote
    else
      a.upvote(data-toggle="tooltip" data-placement="top" title="Log in first homie")
    span.count #{theBar.vote.positive.length}
    include ../partials/judgementScript
