extends layout

block content
  .row
    .col-sm-6.col-sm-offset-3.text-center
      h1 404
      .theBar
        p That page might have been sick
        p But that page does not exist
      img(src="/images/dancing_monkeys.gif")
      .cred
        a(href="/") Go see some bars
