extends ../layout

block content
  .row
    .col-sm-6.col-sm-offset-3
      h1 Edit Your Bars
        hr
        if messages.success
          include ../partials/theBar
      //- form to edit the bars
      form(action='/edit-bars', method='post')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden' name='id' value=theBar._id)
        .form-group
            label(for='bars') Edit your bars
            textarea#barsText.form-control(name='bars', required) #{theBar.bars}
        label(for='author') who you be?
        .form-group
          p The one, the only   
            span.text-rappaname #{theBar.author.rappaname}

        .form-group
          button.btn.btn-primary.pull-right(type='submit', value='Spit') Update Bars
